<a href="https://colab.research.google.com/github/jongheonleee/python-algorithm/blob/main/%EC%BD%94%ED%85%8C%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 자료형과 내장 함수
a = 5.
b = .7

print(a)
print(b)

print(type(a))
print(type(b))

5.0
0.7
<class 'float'>
<class 'float'>

In [4]:
# 실수 표현 정확도 한계
a = 0.3 + 0.6

print(a == 0.9)

# 따라서, round(수, 자리수) 반올림 처리를 활용함
a = round(0.3 + 0.6, 1)
print(a == 0.9)

False
True

In [5]:
# str, list, yuple, dict, set

### str
s = "hello"
print(s[1])
s[1] = 'K' # 불변객체임
print(s)

e

TypeError: 'str' object does not support item assignment

In [7]:
### tuple

t = (1, 2, 3)
t.append(1) # 불변객체임, writable 작업 불가 -> append, remove
t.remove(3)
t[1]

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
### dict

d = {
    'name': 'yeonuel',
    'age': 28
}

for k, v in d.items():
  print(k, v)

d['name'] = 'hanuel'
print(d['name'])

res = d.pop('age')
print(res)

print(d)

name yeonuel
age 28
hanuel
28
{'name': 'hanuel'}

In [15]:
### set

s = {1, 2, 3, 3, 3, 5}
print(s)

s.add(9)
print(s)

for e in s:
  print(e)

{1, 2, 3, 5}
{1, 2, 3, 5, 9}
1
2
3
5
9

In [25]:
### str 내장함수

### 대문자, 소문자
s = 'happy yeonuel'
print(s.upper()) # 복사본
k = s.upper()
print(s) # 원본 변경 안됨

print(k)
print(k.lower())

### 특정 원소 위치 찾기
print(s.find('s')) # 없으면 -1
print(s.find('p')) # 왼쪽 기준 가장 먼저 찾은거 반환

### 특정 원소 개수 계산
print(s.count('p'))


### 문자열 연결
k = 'yeonuel is cute!!'
print(s + ' ' + k)
rev_k = k[::-1]
print(rev_k)

HAPPY YEONUEL
happy yeonuel
HAPPY YEONUEL
happy yeonuel
-1
2
2
happy yeonuel yeonuel is cute!!
!!etuc si leunoey

In [45]:
### list 내장함수
a = []
a2 = list(range(1, 11)) # [range(1, 11)]로 사용하면 원소 생성안되고 range 객체가 리스트에 저장됨

print(a2)

### list 2개 연결
arr1 = [1, 2, 3]
arr2 = [4, 5, 6]
arr3 = arr1 + arr2

print(arr3)

### 원소 추가
a = [0] * 10
print(a)
for i in range(10):
  a[i] = i+1

print(a)

### 원소 삽입
a.insert(3, -1)
print(a)

### 원소 꺼내기
print(a.pop())
print(a)

print(a.pop(3))
print(a)

### 원소 제거하기
a.remove(1)
print(a)

### 원소 위치 반환
print(a.index(5))

### 최대, 최소, 총합 반환
print(max(a))
print(min(a))
print(sum(a))

### 정렬
a = [k for k in range(5)]
a.sort()
print(a)

a.sort(reverse=True)
print(a)
a.reverse()

print(a)

a.clear()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, -1, 4, 5, 6, 7, 8, 9, 10]
10
[1, 2, 3, -1, 4, 5, 6, 7, 8, 9]
-1
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
3
9
2
44
[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]
[0, 1, 2, 3, 4]
[]

In [50]:
### list 활용하기
a = [k for k in range(1, 5+1)]

length = len(a)
print(length)

### enumerate
for x in enumerate(a):
  print(x)
  print(type(x))


### all, any
if all(60 > x for x in a):
  print('all elements are smaller than 60')


if any(10 > x for x in a):
  print('there is a element is smaller than 10')


### 2차원 리스트
n = 10
m = 5
arr = [[0] * m for _ in range(n)] # 10 * 5 2차원 리스트
print(arr)

5
(0, 1)
<class 'tuple'>
(1, 2)
<class 'tuple'>
(2, 3)
<class 'tuple'>
(3, 4)
<class 'tuple'>
(4, 5)
<class 'tuple'>
all elements are smaller than 60
there is a element is smaller than 10
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [59]:
### tuple

t = (k for k in range(1, 5+1))

for x in t:
  print(x)


### 튜플에 원소 추가하기 (append, insert 함수 x)
t1 = (1, 2, 3, 4, 5)
t2 = (6, 7, 8, 9, 10)
t3 = t1 + t2

print(t3)

t4 = t3 + ('a', 'b', 'c') # 서로 다른 타입도 가능
print(t4)

1
2
3
4
5
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c')

In [56]:
### 튜플 인덱스로 값 조회
print(t3[5])
print(t3[2:7])

6
(3, 4, 5, 6, 7)

In [58]:
### 튜플 값 존재 여부 확인
print(1 in t3)
print(10000 in t3)

True
False

In [63]:
### 튜플 내장함수
t = (1, 2, 3, 4, 5, 6, 7)

### 카운팅 처리
print(t.count(9))
print(t.count(1))

t = t + t
print(t.count(1))

### 인덱싱 처리
print(t.index(2)) # 여러 개면 가장 왼쪽 인덱스

0
1
2
1

In [65]:
### 딕셔너리

data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data.keys()) # key 만
print(data.values()) # value 만

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])

In [66]:
### 집합
s = {1, 2, 3, 4, 5, 5, 4, 5}
print(s)

{1, 2, 3, 4, 5}

In [67]:
s.add(4)
print(s)

{1, 2, 3, 4, 5}

In [68]:
### 새로운 원소 여러개 추가
s.update([5, 6, 7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [69]:
s.remove(6)
print(s)

{1, 2, 3, 4, 5, 7}

### 코테에서 유용한 코드

In [70]:
### 한 줄에 여러 개의 숫자 입력 받기
a, b, c, d = map(int, input().split())
print(a, b, c, d)

1 2 3 4
1 2 3 4

In [73]:
### 리스트 원소 한 줄로 입력 받기
arr = list(map(int, input().split()))
print(arr)

arr2 = list(input().split())
print(arr2)

1 2 3 4
[1, 2, 3, 4]
a b c d
['a', 'b', 'c', 'd']

In [76]:
### 리스트 중복 제거 & 정렬
a = [3, 1, 5, 8, 5, 10, 7, 1]
print(a)

b = list(set(a))
print(f'중복 제거: {b}')

c = sorted(list(set(a)))
print(f'중복 제거 및 오름차순 정렬: {a}')

d = sorted(list(set(a)), reverse=True)
print(f'중복 제거 및 내림차순 정렬: {d}')

[3, 1, 5, 8, 5, 10, 7, 1]
중복 제거: [1, 3, 5, 7, 8, 10]
중복 제거 및 오름차순 정렬: [3, 1, 5, 8, 5, 10, 7, 1]
중복 제거 및 내림차순 정렬: [10, 8, 7, 5, 3, 1]

In [80]:
### 리스트 전체 합과 평균 구하기
N = int(input())
print(N)
a = list(map(int, input().split()))

total = sum(a) # for 문 쓰지말고 이거 쓰는게 베스트
avg = int(round(total/N, 0))
print(avg)

5
5
1 2 3 4 5
3

In [88]:
### 리스트 반복문에서 리스트의 원소 여러 번 사용할 때
scores = [score for score in range(80, 100, 3)]
print(scores)

for idx, score in enumerate(scores):
  if score < 90:
    print('B')
  elif score < 80:
    print('C')
  elif score < 70:
    print('D')

[80, 83, 86, 89, 92, 95, 98]
B
B
B
B

In [90]:
### 리스트 원소 개수 세기
s = [1, 2, 3, 4, 3, 2, 1, 2, 4, 5]
cnt = {}

for x in s:
  if x in cnt:
    cnt[x] += 1
  else :
    cnt[x] = 1

print(cnt)

{1: 2, 2: 3, 3: 2, 4: 2, 5: 1}

In [91]:
### 딕셔너리 value로 key값 찾기
for k, v in cnt.items():
  if v == 3:
    print(k, end='')

2

In [93]:
### 리스트를 문자열로 변환하기
arr = ['H', 'a', 'P', 'p', 'Y']
print(''.join(arr))
print(type(''.join(arr)))

a = ['0', '1', '3', '6']
print(int(''.join(a)))

HaPpY
<class 'str'>
136

In [95]:
### 두 변수 값 바꾸기
a, b = 1, 2
a, b = b, a
print(a, b)

2 1

In [96]:
### 딕셔너리 key로 존재 여부 확인
d = {'apple', 'banana', 'mango'}

if 'mango' in d: # O(N)
  print('Yes!!')

Yes!!

In [98]:
### 딕셔너리를 key, value 기준으로 정렬
a = {
    'TOM': 90,
    'Liz': 75,
    'John': 67,
    'Mia': 92,
}

print(a.keys())
print(list(a.keys()))
print(sorted(a.keys()))
print(sorted(a.keys(), reverse=True))

dict_keys(['TOM', 'Liz', 'John', 'Mia'])
['TOM', 'Liz', 'John', 'Mia']
['John', 'Liz', 'Mia', 'TOM']
['TOM', 'Mia', 'Liz', 'John']

In [101]:
### 튜플 자료형으로 리턴
print(sorted(a.items()))

print(sorted(a.items(), reverse=True))

[('John', 67), ('Liz', 75), ('Mia', 92), ('TOM', 90)]
[('TOM', 90), ('Mia', 92), ('Liz', 75), ('John', 67)]

In [105]:
### 람다식 key 값 기준 정렬
print(sorted(a.items(), key=lambda x:x[1], reverse=True))

### 람다식 value 값 기준 정렬
print(sorted(a.items(), key=lambda x:x[1]))
print(sorted(a.items(), key=lambda x:x[1], reverse=True))

[('Mia', 92), ('TOM', 90), ('Liz', 75), ('John', 67)]
[('John', 67), ('Liz', 75), ('TOM', 90), ('Mia', 92)]
[('Mia', 92), ('TOM', 90), ('Liz', 75), ('John', 67)]

In [106]:
### 2차원 리스트 입력 받기
N = int(input())
print(N)

arr2D = list(list(map(int, input().split())) for _ in range(N))

5
5
1 2 3 4 5
3 4 2 5 6
2 2 2 3 4
4 5 6 3 2
3 3 3 8 6

In [107]:
print(arr2D)

[[1, 2, 3, 4, 5], [3, 4, 2, 5, 6], [2, 2, 2, 3, 4], [4, 5, 6, 3, 2], [3, 3, 3, 8, 6]]

In [109]:
### 이분탐색
target = int(input())

arr = [1, 9, 9, 3, 5, 26, 7, 8, 8, 9, 10]
arr.sort()

left, right = 0, len(arr) - 1
while left < right:
  mid = (left + right)//2
  curr = arr[mid]

  if curr < target:
    left += 1
  elif curr > target:
    right -= 1
  else:
    print('i got it!!')
    break

10
i got it!!

In [110]:
### list 2개로 dict를 생성
keys = ['a', 'b', 'c']
values = [30, 50, 80]

key_val = [keys, values]
d = dict(zip(*key_val))
print(d)

{'a': 30, 'b': 50, 'c': 80}

In [111]:
### list 비어있는지 확인
arr = []
if not arr:
  print('empty')

empty